<h1 class="title">Integrify Photo Gallery of Gherad</h1>
<nav class="">
    <div class="">

        <div class="">
            <a class="" href="http://www.integrify.fi/">
                <span class=""></span>
                Integrify
            </a>

            <ul class="">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/addStudent">Add New Student</a>
                </li>
            </ul>
        </div>

    </div>
</nav>